

<h1>About us</h1>
<%= link_to 'Home', root_path %>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse blandit et elit eget malesuada. Cras ligula dolor, congue vitae turpis non, tempus elementum magna. Nullam eleifend imperdiet imperdiet. Vestibulum ornare porttitor diam a consectetur. Mauris sed efficitur justo, eu aliquet eros. Aliquam bibendum interdum pellentesque. Vivamus nec consequat tellus, et mollis felis. In a turpis laoreet, vulputate lectus non, pharetra ex. Nullam at gravida purus.</p>
