<div class="center jumbotron">
  <h1> Alpha Blog </h1>
  <h3>The best place to share your stories</h3>
  <%= link_to 'Sign up', signup_path, class: "btn btn-primary btn-lg btn-xlarge" %>
</div>



<h3>Heading 1</h3>
<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse blandit et elit eget malesuada. Cras ligula dolor, congue vitae turpis non, tempus elementum magna. Nullam eleifend imperdiet imperdiet. Vestibulum ornare porttitor diam a consectetur. Mauris sed efficitur justo, eu aliquet eros. Aliquam bibendum interdum pellentesque. Vivamus nec consequat tellus, et mollis felis. In a turpis laoreet, vulputate lectus non, pharetra ex. Nullam at gravida purus.</p>
<h3>Heading 2</h3>
<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standCras pellentesque pellentesque semper. Pellentesque in laoreet dolor. Fusce auctor sem quis vestibulum faucibus. Mauris et nibh sapien. Duis condimentum scelerisque odio sed faucibus. Vivamus lobortis orci ac feugiat suscipit. Curabitur eu dolor mauris. Aliquam mattis felis est, vel aliquet odio mattis in. Fusce rhoncus arcu sed urna accumsan accumsan. Fusce et tincidunt dolor, sit amet scelerisque justo. Cras nec faucibus felis.</p>
